<div class="wrapper">
<h4>Editing Balance Enquiry For <%= @karigar.name %></h4>

<%= render 'form' %>

<%= link_to 'Show',karigar_balance_enquiry_path(@karigar, @balance_enquiry) %> |
<%= link_to 'Back', karigar_balance_enquiries_path(@karigar) %>
</div>